.crystals{
    display: inline;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    float: left;
    border: 1px solid green;
    height: 200px;
    width: 200px;
}

img{
    width: 50px;
}